<!DOCTYPE html>
<html>
  <head>
    <title>Jovian careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <style>
    #banner {
      height : 360px;
      width : 100%;
    }
 
  </style>
  </head>
  <body>
    <div class= "container">
      <h1 class= "text-center mt-3 mt-3">{{company_name}} Careers</h1>
      <img class ="img-fluid" id ="banner" src = "https://jovian-careers-website-1.subratsharma.repl.co/static/images.jpeg " >
      <h2 class ="text-center" >About Jovian</h2>
      <p class ="lead" >Jovian is a really good site to learn about               programming.Site has really good teaching materials for beginners and also provides certification after course completion. People who are interested to learn about coding can definitely use the site for their benefit.</p>
      <h2 class="text-center">Open Positions</h2>
      <div >{% for job in jobs%}
        {% include 'jobitem.html' %}
        {% endfor %}
      </p>
      <p class="text-center">
      <button class="btn btn-primary btn-lg"  >Contact Us</button>
      </p >
    
    <p class="text-center">Copyright 2023 , Jovian</p>
      </div>
    </div>
  </body>
</html>